body {
    line-height: 1.8;
}
.top-bar-tab {
    background-color: rgba(255,255,255,0.85);
}
.main-h1 {
    font-size: 2.5rem;
}
.top-bar-img {
    display: block;
    margin: 0 auto;
}
.scroll-header-h2 {
    font-size: 8px;
    margin-left: 4px;
}
.nav {
    width: 25%;
    top: var(--padding-4);
    margin-top: var(--padding-4);
    left: 0;
    box-shadow: none;
    border-radius: unset;
    padding: var(--padding-2) var(--padding);
    line-height: 1.65;
}
.nav-h3 {
    line-height: initial;
}
.nav-ul {
    width: unset;
}
.main {
    width: 70%;
    padding: 0 var(--padding-2);
}
.main-column p, .main-h2, .main-h2:first-child {
    max-width: unset;
}
.main-ul, .main-ul-wide {
    max-width: 90%;
}
.main-h2 {
    line-height: 1.5;
    font-size: 1.25rem;
}
.main-h2:first-child {
    font-size: 1.5rem;
}
.main-h3 {
    font-size: 1rem;
    line-height: 1.45;
}
.main-img {
    max-width: calc(100% + var(--padding-4));
    margin-left: -20px;
}
.main-ul li {
    margin-bottom: var(--padding);
}