* {
    margin: 0;
}
body {
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    line-height: 1.65;
    text-rendering: optimizeLegibility;
    background-color: var(--theme-sidebar);
}
:root {
    --theme-dvrpc: #0078ae;
    --theme-dvrpc-accent: #366478;
    --theme-black: #363636;
    --theme-white: #f7f7f7;
    --theme-offwhite: #f2f2f2;
    --theme-offwhite2: #ebebf3;
    --theme-dark2: #979797;
    --theme-sidebar: #254661;

    --padding-half: 5px;
    --padding: 10px;
    --padding-2: 20px;
    --padding-3: 30px;
    --padding-4: 40px;
    --padding-8: 80px;

    --border-radius: 4px;
    --box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.3);
    --box-shadow-half: 0.5px 1px 1.5px rgba(0, 0, 0, 0.15);
}
.flex-row {
    display: flex;
}
.flex-column {
    display: flex;
    flex-direction: column;
}
.flex-between {
    justify-content: space-between;
}
.flex-around {
    justify-content: space-around;
}
.flex-center {
    justify-content: center;
}
.flex-end {
    justify-content: flex-end;
}
.flex-start {
    justify-content: flex-start;
}
.flex-align-start {
    align-items: flex-start;
}
.flex-align-center {
    align-items: center;
}
.italic {
    font-style: italic;
}



/* Top Bar */
.top-bar {
    position: relative;
    width: 100%;
    height: 250px;
    z-index: 2;
    background-color: var(--theme-sidebar);
    background: url('../img/InfrastructureGoal-small.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    box-shadow: var(--box-shadow);
}
.top-bar-tab {
    display: block;
    text-align: left;
    background: rgba(255,255,255,0.75);
    padding: var(--padding-2) 7.5%;
    border-top-right-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
}
.top-bar-img {
    filter: invert(80%);
}
.main-h1 {
    font-size: 3rem;
    color: var(--theme-black);
    line-height: initial;
}
/* End Top Bar */



/* Side Nav */
.nav {
    position: sticky;
    margin-top: var(--padding-3);
    top: var(--padding-8);
    left: 7.5%;
    padding: var(--padding-4);
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius);
    background-color: var(--theme-white);
    border: 3px solid white;
}
.nav-h3 {
    color: var(--theme-black);
}
/* End Side Nav */



/* Main Content */
.main {
    width: 85%;
    background: var(--theme-white);
}
.main-container {
    height: calc(100vh - 50px);
}
.centered-header {
    text-align: center;
}
.main-column {
    margin: 0 auto;
    padding: var(--padding-4) 0;
}
.main-column p {
    max-width: 70ch;
    margin: var(--padding) auto;
}
.main-header {
    margin-bottom: var(--padding-2);
}
.main-h2 {
    font-size: 1.85rem;
    color: var(--theme-sidebar);
}
.main-h3 {
    font-weight: 300;
    font-size: 1.15rem;
}
/* End Main Content */